* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  background-color: #D8D8D8;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  padding: 40px;
  color: rgb(19, 19, 156);
}

p {
  line-height: 1.8;
  text-align: center;
  padding-left: 10px;
}

.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-card {
  padding: 30px;
  text-align: center;
  font-size: 14px;
}

.employee-card>p {
  padding: 2px;
}

.employee-span {
  font-weight: bold;
}

.employee-image {
  height: auto;
  width: 160px;
  border-radius: 8px;
}